{% extends 'base.html.twig' %}

{% block body %}

    <link href="{{ asset('main.css') }}" rel="stylesheet" />
    This is a  ABOUT US PAGE
    <div>
        <a href="{{ path('home') }}">BACK</a>
    </div>
{% endblock %}

