{% extends 'base.html.twig' %}

{% block body %}
 This is a  HOME PAGE

    <style type="text/css">
        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        body{
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .container{
            width: 80%;
            margin: 0 auto; /* Center the DIV horizontally */
        }
        .fixed-header, .fixed-footer{
            width: 100%;
            position: fixed;
            background: #8642ff;
            padding: 10px 0;
            color: #fff;
        }
        .fixed-header{
            top: 0;
        }
        .fixed-footer{
            bottom: 0;
        }
        /* Some more styles to beutify this example */
        nav a{
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
        .container p{
            line-height: 200px; /* Create scrollbar to test positioning */
        }
    </style>

    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="{{ path('home') }}">Home</a>
                <a href="{{ path('aboutus') }}">About Us</a>
                <a href="{{ path('carrer') }}">Carrer</a>
                <a href="{{ path('client') }}">Clients</a>
            </nav>
        </div>
    </div>
    <div class="fixed-footer">
        <div class="container">Copyright © 2016 Your Company</div>
    </div>
{% endblock %}
